h2,
h4 {
    color: white;
}

.div-barre {
    width: 200px;
    height: 100px;
    border: 3px solid red;
    position: relative;
    background: linear-gradient(
        to right bottom,
        transparent 49%,
        red 49%,
        red 51%,
        transparent 51%
    );
}

.div-selected {
    border: 3px solid blue;
}
.matches-area {
    border: thin solid;
    border-color: white;
}
.single-matches-box {
    margin-bottom: 30px;

    .matches-team {
        position: relative;
        cursor: pointer;
        padding: {
            left: 100px;
            top: 45px;
        }
        img {
            position: absolute;
            left: 0;
            max-width: 150px;
            top: 0;
        }
        .content {
            text-align: end;

            h3 {
                margin-bottom: 0;
                text-transform: uppercase;
                background: {
                    image: url(../../assets/img/matches-bg1.png);
                    position: right center;
                    size: cover;
                    repeat: no-repeat;
                }
                font: {
                    size: 32px;
                    weight: 700;
                }
                padding: {
                    top: 25px;
                    bottom: 25px;
                    right: 55px;
                }
            }
            .watch-list {
                list-style-type: none;
                padding: {
                    left: 0;
                    right: 54px;
                }
                margin: {
                    bottom: 0;
                    top: 15px;
                }
                li {
                    display: inline-block;
                    margin-right: 8px;

                    span {
                        display: block;
                        text-transform: uppercase;
                        color: var(--mainColor);
                        font: {
                            size: 20px;
                            weight: 400;
                        }
                    }
                    a {
                        position: relative;
                        top: 1px;
                        color: #bcb6b8;

                        &:hover {
                            color: var(--whiteColor);
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &.right-image {
            padding: {
                left: 0;
                right: 100px;
            }
            img {
                left: auto;
                right: 0;
            }
            .content {
                text-align: start;

                h3 {
                    padding: {
                        left: 55px;
                        right: 0;
                    }
                    background: {
                        image: url(../../assets/img/matches-bg2.png);
                        position: left center;
                    }
                }
                ul {
                    padding: {
                        left: 54px;
                        right: 0;
                    }
                    li {
                        margin: {
                            left: 8px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .matches-result {
        padding-top: 30px;
        text-align: center;

        ul {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;

            li {
                display: inline-block;
                position: relative;
                line-height: 1;
                font: {
                    size: 60px;
                    weight: 700;
                }
                margin: {
                    left: 28px;
                    right: 28px;
                }
                &::before {
                    content: ":";
                    position: absolute;
                    left: -33px;
                    top: 11px;
                    font-size: 28px;
                }
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }
        .date-time {
            display: block;
            text-transform: uppercase;
            color: white;
            font: {
                size: 25px;
                weight: 400;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.single-matches-box {
    .matches-team {
        img {
            max-width: 140px;
        }
    }
    .matches-result {
        ul {
            li {
                font-size: 50px;
                margin: {
                    left: 20px;
                    right: 20px;
                }
                &::before {
                    left: -25px;
                    top: 8px;
                }
            }
        }
    }
}
.coming-soon-area {
    position: relative;
    z-index: 1;
    background: #f6f7fb;
    background: {
        // image: url(../../../../assets/img/main-banner-bg1.jpg);
        position: top center;
        size: cover;
        repeat: repeat;
    }
}

.landing {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: #f6f7fb;
    background: {
        position: top center;
        size: cover;
        repeat: no-repeat;
    }
}
.coming-soon-content {
    max-width: 700px;
    overflow: hidden;
    text-align: center;
    background-color: #22152c;
    padding: 45px 40px;
    border-radius: 5px;
    margin: {
        left: auto;
        right: auto;
    }
    h2 {
        text-transform: uppercase;
        letter-spacing: 3px;
        font: {
            size: 40px;
            weight: 700;
        }
        margin: {
            bottom: 0;
            top: 35px;
        }
    }
    #timer {
        margin-top: 10px;

        div {
            background-color: #000000;
            width: 100px;
            height: 105px;
            border-radius: 5px;
            font: {
                size: 40px;
                weight: 700;
            }
            margin: {
                left: 10px;
                right: 10px;
            }
            span {
                display: block;
                margin-top: -5px;
                font: {
                    size: 17px;
                    weight: 600;
                }
            }
        }
    }
    form {
        position: relative;
        max-width: 500px;
        margin: {
            left: auto;
            right: auto;
            top: 50px;
        }
        .form-group {
            margin-bottom: 25px;
            width: 100%;
            position: relative;

            .input-newsletter {
                display: block;
                width: 100%;
                border: none;
                color: var(--whiteColor);
                background-color: #87cefa;
                height: 55px;
                padding: {
                    left: 20px;
                    top: 2px;
                    right: 0;
                    bottom: 0;
                }
                border-radius: 5px;
                font: {
                    size: 16.5px;
                    weight: 500;
                }
                &::placeholder {
                    color: var(--whiteColor);
                    transition: var(--transition);
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
        .validation-danger {
            margin-top: 15px;
            color: red;
        }
        .validation-success {
            margin-top: 15px;
        }
        p {
            margin: {
                bottom: 0;
                top: 30px;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .coming-soon-area {
        height: 100%;
        padding: {
            top: 120px;
            bottom: 120px;
            left: 15px;
            right: 15px;
        }
    }
    .landing {
        height: 100%;
        padding: {
            top: 120px;
            bottom: 120px;
            left: 15px;
            right: 15px;
        }
    }
    .coming-soon-content {
        padding: 30px 20px;

        .logo {
            margin-bottom: 25px;
        }
        h2 {
            font-size: 28px;
        }
        #timer {
            margin-top: 10px;

            div {
                width: 50px;
                height: 50px;
                font-size: 25px;
                margin-top: 20px;

                span {
                    font-size: 14px;
                }
            }
        }
        form {
            max-width: 100%;
            margin-top: 40px;

            .default-btn {
                display: block;
                width: 100%;
                margin-top: -5px;
            }
        }
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
}
@media only screen and (min-width: 1550px) {
}

@media only screen and (max-width: 767px) {
    .single-matches-box {
        margin-bottom: 50px;

        .matches-team {
            padding: {
                left: 68px;
                top: 15px;
            }
            img {
                max-width: 90px;
            }
            .content {
                h3 {
                    font-size: 22px;
                    padding: {
                        top: 20px;
                        bottom: 18px;
                        right: 20px;
                    }
                    background: {
                        color: #1a0c09;
                        image: unset !important;
                    }
                }
                .watch-list {
                    padding-right: 20px;
                }
            }
            &.right-image {
                padding: {
                    left: 0;
                    right: 68px;
                }
                .content {
                    h3 {
                        padding: {
                            left: 20px;
                        }
                    }
                    ul {
                        padding-left: 20px;
                    }
                }
            }
        }
        .matches-result {
            padding-top: 0;
            margin: {
                top: 20px;
                bottom: 20px;
            }
            ul {
                li {
                    font-size: 35px;
                    margin: {
                        left: 20px;
                        right: 18px;
                    }
                    &::before {
                        left: -23px;
                        top: 5px;
                        font-size: 22px;
                    }
                }
            }
            .date-time {
                margin-top: 5px;
                letter-spacing: 1px;
                font: {
                    size: 16px;
                    weight: 600;
                }
            }
        }
    }
}
